:root {

    --background-color: #fef6e4;
    --headline-color: #001858;

    --primary-color: #f3d2c1;
    --secondary-color: #8bd3dd;
    --tertiary-color: #f582ae;
    --dark-color: #001858;
    --white-color: #fef6e4;
}

body {
    color: var(--headline-color);
    background-color: var(--background-color);
}

nav {
    background-color: var(--dark-color);
}

footer {
    background-color: var(--dark-color);
    padding-right: 1rem;
}

footer .social>a {
    color: var(--white-color);
    opacity: .75;
}


footer .social>a:hover {
    opacity: .9;
    color: var(--tertiary-color);
}

h1,h2,h3,h4,h5,h6,p,a,li {
    color: var(--headline-color);
}

.logo {
    width: 2rem;
}

.icon {
    color: var(--secondary-color);
}

.checklist>li i {
    color: var(--secondary-color);
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

@font-face {
    font-family: barbra;
    src: url(/css/Barbra-High.otf);
}

.text-barbra {
    font-family: barbra;
    letter-spacing: 1px;
}


.btn-outline-dark {
    color: var(--white-color);
    background-color: var(--dark-color);
}

.btn-outline-dark:hover {
    color: var(--headline-color);
    background-color: var(--tertiary-color);
}

.app-logo {
    border-radius: 2rem;
    background-color: var(--secondary-color);
}